<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Welcome EveryOne!</p>
<ul>
    <li>
        <a href = "/login" th:text="登录">登录</a>
    </li>
    <li>
        <a href = "/dishes" th:text="前往点餐页面">前往点餐页面</a>
    </li>
    <li>
        <a href = "/base/message_converter" th:text="前往测试messageConverter页面">前往测试页面</a>
    </li>
    <li>
        <a href = "/logout" th:text="退出">退出</a>
    </li>
</ul>
</body>
</html>