<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/login}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>PWD:</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                <select name="type" >
                    <option value="user">用户</option>
                    <option value="admin">管理员</option>
                    <option value="cooker">厨师</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>